<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793481532405-qo5co0bs1vd943b8hgpj83r3j314j5mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793481532405-qo5co0bs1vd943b8hgpj83r3j314j5mc</string>
	<key>API_KEY</key>
	<string>AIzaSyBKDmQBHcXIillZNEW0H4Io_3W1dmOYTE0</string>
	<key>GCM_SENDER_ID</key>
	<string>793481532405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-8945b</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-8945b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793481532405:ios:60230c091f6c1c1f7206bc</string>
</dict>
</plist>